@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@import Schach.model.gameFieldComponent.gameFieldBaseImpl.GameField
@import Schach.model.figureComponent.Figure
@import Schach.model.gameFieldComponent.GameFieldInterface
@(gameField: GameFieldInterface)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>Chess</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        <table class="chess-board">
            <tbody>
                @for(row <- Array("", "a", "b", "c", "d", "e", "f", "g", "h")) {
                    <th>@row</th>
                }
                @for(column <- Array(8, 7, 6, 5, 4, 3, 2, 1)) {
                    <tr>
                        <th>@column</th>
                        @for(row <- Array(1, 2, 3, 4, 5, 6, 7, 8)) {
                            <th background=@{
                                var rowStartsWithBlack = column % 2 == 0
                                var columnStartsWithBlack = row % 2 == 1
                                var cellBlack = rowStartsWithBlack ^ columnStartsWithBlack

                                if(cellBlack) {
                                    "#aaa"
                                } else {
                                    "#eee"
                                }
                            }>@{
                                var oFigure = gameField.getFigure(row -1 , column - 1);
                                oFigure.getOrElse("").toString
                            }</th>
                        }

                    </tr>
                }

            </tbody>
        </table>
    </body>
</html>
